/* EXTENDABLES */

.relative { position:relative; }

.transition { transition: all 0.3s ease; }

.transition-slow { transition: all 0.6s ease; }

.highlight { background-color: $yellow;display:inline-block;padding:5px;border-bottom:1px solid $white;border-right:1px solid $white; box-decoration-break: clone;}
.highlight.army-dark { background-color: $black;border:0;padding:5px 10px;box-decoration-break: clone;}

.disabled {
	background-color: $bluewhite;
}

.v-spacer {
	margin-top: 30px;
}

.less-bottom {
	margin-bottom: 5px;
}

.no-results {
	opacity: 0;
	padding: 30px;
}

.full {
	width: 100%;
}

.banner .content-wrapper .full {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.vcentered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.banner .vcentered {
	transform: translate(-50%,-55%);
}

.inline {
	display: inline !important;
}

.slanted {
	padding-left:1.5em;
	padding-right:1.5em;
	border-radius: 0 !important;
	border: 1px solid $black;
	border-right: 0;
	box-shadow: -6px 5px 0 $black !important;
	text-shadow: 0 -1px $shadow;
	@extend .caps;

	&:hover, &:focus {
		@extend .CGY;
		text-shadow: none;
		color: $black;
	}
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;

	&:after {
		content: '';
		display: block;
		clear: left;
	}
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;

	&:after {
		content: '';
		display: block;
		clear: right;
	}
}

.aligncenter {
	display: block;
	margin: 15px auto;
}

.size-thumbnail {
	padding: 3px;
	border: 1px solid $shadow-light;
}

/* GENERAL STYLES */

.site {
	background: $white;
}
.grid-classes {
	overflow: visible;
}

.grid-classes .card {
	background-color: $white;

	.front {
		padding: 0 30px;
		position: relative;

		a.button:last-of-type, p:last-of-type, h6:last-of-type {
			margin-bottom: 0;
		}

		h3 {
			color: $black;

			.subheader {
				margin-top: -5px;
			}
		}
		h5, h6 {
			font-family: $sans-bold-stack;
			font-weight: 400;
			-webkit-font-smoothing: antialiased !important;
			color: $translucent-dark-70;
			font-size: 0.85em;
			letter-spacing: 0;

			&.highlight {
				color: $black;
			}
		}

		small {
			display:block;
			font-family: $sans-stack;
			font-weight: 400;
		}

		.subheader {
			display: block;
			margin-top: 0;
			color: $translucent-dark-60;
			font-size: 1em;
			font-weight: 400 !important;
		}
	}
	.hint {
		position: absolute;
		top: 0;
		right: 15px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 0.85em;
		color: $translucent-dark-50;
		border-radius: 50%;
		border: 1px solid $translucent-dark-30;
		text-align:center;
		cursor: pointer;
		outline: none;

		.has-tip {
			border: 0;
		}

		&:hover, &:focus {
			background: $translucent-dark-70;
			color: $white;
		}
	}
}

.about .hint {
	border: 1px solid #f223a0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-left: 5px;
  letter-spacing: 0.035em;
  text-transform: lowercase;
}

.tooltip {
	width: 90% !important;
	max-width: 420px !important;
}

.author .tooltip {
	max-width: 200px !important;
}

@media all and (max-width: 39.9375em) {
	.hint {
		display: none;
	}
}

.disabled, .grid-classes .card.disabled {
	background-color: $offwhite !important;
}

.accent {
	height:1px;
	width: 100%;
}

select.filters {
	margin: 1rem 0;
}

#isotope-list {
	overflow: visible;
}

#shows .large.card {
	padding: 3px;
	
	h3 {padding: 15px 15px 5px;}

	p, li {
		color: $translucent-dark-70;
		padding: 0 15px;
		margin-bottom: 1rem;
		font-size: 0.9rem;
	}
	p:last-child {
		margin-bottom: 1rem;
	}
}

#spotlight .block {
	margin-bottom: 30px !important;

	&:last-child {
		margin-bottom: 0 !important;
	}

	.card {
		border: 1px solid $shadow;
		box-shadow: 0 1px 8px $shadow-light;
		

		p:last-child {
			margin-bottom: 0;
		}

		img.size-post-thumb {
			width: 100%;
			height: auto;
		}

		.content {
			padding-left: 0;
			padding-top: 30px;			
		}

		@media all and (min-width:40em) {
			.content {
				padding-left: 30px;
				padding-top: 0;
			}
		}
	}
}

#team .card {
	position: relative;
	height:0;
	padding: 0 0 100% 0;
	border: none;
	box-shadow: inset 0 0 1px 0 $translucent-dark-30;
	background-color: $white;

	.front, .back {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@extend .transition-slow;
	}
	.front {
		background-color: $white;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: top center !important;
		mix-blend-mode:multiply;
	}
	.back {
		opacity: 0;
		padding: 10px;
		color: $white;
		background-color: $translucent-light-50 !important;
		@extend .gradient.PB.alpha;

		.button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -100%);
		}

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}

	.info {
		position: absolute;
		bottom: 60px;
		
		h2,h3,h4 {
			display: inline-block;
			padding: 5px 10px 3px;
			margin-bottom: 0;
		}
		h2 {
			font-size: 1.15em;
			letter-spacing: 1px;
			background: $translucent-dark-95;
			color: $white !important;
			@extend .caps;
		}
		h3, h4 {
			font-family: $sans-stack;
			font-weight: 400;
			font-size: 1em;
			color: $white;
			@extend .gradient.PB.alpha;
		}
		h4 {
			color: $black;
			@extend .gradient.W;
		}
	}
}

.avatar {
	max-width: 300px;
	display: block;
	margin: 0 auto 30px;
	border-radius: 3px;
	border: 5px solid $white;
	box-shadow: 0 3px 5px $shadow-light;
}


.blog-grid {
	.column {
		background-color: $shadow;
	}

	.card {
		position: relative;
		border: 0;
		box-shadow: none;
		width: 100%;
		height: 0;
		padding:0;
		padding-bottom: 52%;
		@extend .gradient.K;
	}

	.front, .back {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		@extend .transition-slow;
	}

	.front {
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		opacity: 0.95;
		width: 100%;
		height: 0;
		padding-bottom: 52%;

		&:hover {
			opacity: 1;
		}
	}
	.back {
		opacity: 0;
		width: 100%;
		height: 0;
		padding-bottom: 52%;

		&:hover {
			opacity: 1;
			cursor: pointer;
			@extend .gradient.PB.alpha;
		}
	}
	
	.title {
		line-height: 1.5em;
		width: 90% !important;
	}
}

.pagination {
	margin-top: 30px;

	.page-numbers {
		display: inline-block;
		height: 44px;
		min-width: 44px;
		line-height: 44px;
		padding-left:5px;
		padding-right: 5px;
		text-align:center;
		border: 1px solid $black;
		color: $black;

		&:hover {
			cursor: pointer;
			background-color: $translucent-dark-30;
		}
	}

	.current, .current:hover {
		background-color: $black;
		color: $white;
		font-weight: bold;
		cursor: default;
		border-color: $black;
	}

}

@media all and (min-width:40em) {
	#team .card {
		padding: 0 0 50% 0;

		.info {
			h2{
				font-size: 1.2em;
			}
			h3 {
				font-size: 1.05em;
			}
		}

		.back {
			padding: 20px;
		}
	}
}

@media all and (min-width:64em) {
	#team .card {
		padding: 0 0 35% 0;

		.info {
			h2{
				font-size: 1.25em;
			}
			h3 {
				font-size: 1.1em;
			}
		}

		.back {
			padding: 30px;
		}
	}
}

@media all and (min-width:90em) {
	#team .card {
		padding: 0 0 25% 0;

		.info {
			h2{
				font-size: 1.5em;
			}
			h3 {
				font-size: 1.25em;
			}
		}
	}
}

.icon-facebook, .icon-instagram {
	width: 70px;
	height: 70px;
	display: inline-block;
	overflow:hidden;
	opacity: 0.5;
	margin: 0 5px;
	
	&:hover {
		opacity: 1;
	}
	span {
		display: block;
		text-indent: -9999px;
	}
}

.icon-facebook {
	background: transparent url('../img/icon-facebook.svg') center no-repeat;
	background-size:cover;
}

.icon-instagram {
	background: transparent url('../img/icon-instagram.svg') center no-repeat;
	background-size:cover;
}


/* HOME */

.ribbon { 
  text-align:center; 
  background:#000; 
  color: #FFF;
  padding:30px 0 0 0; 
  transform: skew(0deg, -5deg) ;
  font-family: $sans-stack;
  font-weight: 400;
  transform-origin: 100% 0%;
  margin-bottom: 30px;
	
	&.text-left {
		text-align:left;
	}

	img {
	  border-radius: 50%;
	  margin-bottom: 30px;
	  max-width: 200px;
	  padding: 3px;
	  transform: skew(0deg, 5deg);
	  margin-top: 20px;
	}
	
	ul {
		margin: 0;
		padding: 0;
	}

	li {
	list-style: none;

		&:before {
			content: '+';
			display: inline-block;
			color: $yellow;
			font-size: 1.5em;
			font-weight: bold;
			padding-right: 15px;
		}
	}

	p, li {
		color: $translucent-light-70;
		font-size: 1em;
		line-height: 1.8;
		-webkit-font-smoothing: antialiased;
	}

	h3 {
		-webkit-font-smoothing: antialiased;
	}

	.button {
		margin-bottom: 80px;
	}

	hr {
		margin: -30px -60px 30px -60px;
		border: none;
		border-top: 5px solid $white;
	}

	&.no-button hr {
		margin-top: 30px;
	}
}


.ribbon:not(.no-button) .columns:last-child {
	hr {
		display: none;
	}

	.button {
		margin-bottom: 50px;
	}
}

.ribbon.no-button .columns:last-child hr {
	margin-bottom:-1px;
}


@media screen and (min-width: 40em) {
	.ribbon {
		margin-bottom: 60px;

		h3 {
			font-size: 1.65em;
			letter-spacing: 0.035em;
		}

		p, li, .button {
			font-size: 1.15em;
		}
	}

}

@media screen and (min-width: 64em) {
  .ribbon {
    margin-bottom: 120px;
  	padding:30px 20px 0; 
		
		img {
	    margin-top:-80px;
	    margin-bottom: 45px;
	  }

  	h3 {
			font-size: 1.35em;
		}

		p, li, .button {
			font-size: 1.1em;
		}

		p, ul {
	  	margin-bottom: 65px;
	  }

	  .button {
			position:absolute;
			bottom: 5px;
			transform: translate(-50%,50%);
			margin-bottom: 0 !important;
		}
  }
}

@media screen and (min-width: 75em) {
	.ribbon {
    margin-bottom: 160px;

    img {
  		max-width: 240px;
  	}

  	.button {
			font-size: 1.05em;
	  }
  }
}

@media screen and (min-width: 90em) {
  .ribbon {
  	img {
  		max-width: 300px;
  	}
  	h3 {
  		font-size: 1.35em;
  		letter-spacing: 0.05em;
  	}
  	p, li {
	  	font-size: 1.125em;
	  }
  	.button {
	  	font-size: 1.125em;
	  	letter-spacing: 0.05em;
	  }
  }
}

@media screen and (min-width: 110em) {
	.ribbon {
    margin-bottom: 200px;

    h3 {
	  	font-size: 1.5em;
	  }
	  p, li {
	  	font-size: 1.125em;
	  }
  }
}

.listing {
	width: 100% !important;
	max-width: 64em; 
	margin: 0 auto !important;
	text-align: left;

	td {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		box-shadow: 0 1px 0 $shadow-light;

		&:first-child {
			width: 220px !important;
		}
	}

	tr:nth-of-type(odd) {
		td { 
			background-color: $offwhite;
		}
	}

	tr:nth-of-type(even) {
		td {
			background-color: $white;
		}
	}

	a {
		border: 0 !important;
	}

	a.button, h4 {
		padding: 10px !important;
		margin-bottom: 0;
	}
}

.wpgmp_categories {
	margin-bottom: 60px !important;
}

.wpgmp_pagination {
	display: none;
}

.wpgmp_infowindow {
	.button {
		margin-bottom: 0 !important;
		font-family: $sans-stack;
	}
	p:last-of-type {
		margin-bottom: 0 !important;
	}
}
