/* SVG MASKS */

.banner {
	display: block;
	height: 0 !important;
	padding-bottom:100%;
	position: relative;
	background-size: cover !important;
	background-position: center !important;

	.content-wrapper {
		position:absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;

		.content {
			position: absolute;
			bottom: 8.5%;
			width: 90%;
			left: 5%;
			transform: translateY(-50%);
		}

		.blurb {
			@extend .caps;
			font-size: 1em;
			font-weight: 400;
			letter-spacing: 1px;
			padding: 8px 0 6px;
			display: inline;
			box-decoration-break: clone;
			line-height: 2.5;

		  &:after {
		  	content: '';
		  	display: block;
		  	margin: 0 0 10px;
		  }

		  &.light {
				color: $black;
				background: $translucent-light-98;
			  box-shadow: 8px 0 0 $translucent-light-98, -8px 0 0 $translucent-light-98;

		  }

		  &.dark {
				color: $white;
				background: $translucent-dark-95;
			  box-shadow: 8px 0 0 $translucent-dark-95, -8px 0 0 $translucent-dark-95;
		  }
		}

		.button {
			margin-bottom: 0;
			padding: 1em 1em 0.7rem;
			font-family: $sans-bold-stack;
			font-weight: 600;
			font-size: 1em;
			@extend .caps;

			&.light {
				background-color: $white;
				color: $black;

				&:hover, &:focus {
					background: $black !important;
					color: $white !important;
	   		}
			}

			&.dark {
		    background-color: $translucent-dark-95 !important;
		    box-shadow: 0 1px 5px $shadow; 

	   		&:hover, &:focus {
					background: $white !important;
					color: $black !important;
	   		}
	   	}

		}
	}
}

.mask-container {
	position: absolute;
  width: 100%;
  transform: translateY(-100%);
}
.mask {
	display: block;
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	padding: 0 0 7.5% 0;
}
.bow-white-black {
	background: transparent url('../img/mask-bow-white-black.svg') center top no-repeat;
	background-size: 105% !important;
	padding: 0 0 7.5% 0;
}
.bow-grey-white {
	background: transparent url('../img/mask-bow-grey-white.svg') center top no-repeat;
	background-size: 105% !important;
	padding: 0 0 7.5% 0;
}
.bow-black-magenta {
	background: transparent url('../img/mask-bow-black-magenta.svg') center top -1px no-repeat;
	background-size: 105% !important;
	padding: 0 0 6.25% 0;
	width: 100%;
}
.bow-black-orange {
	background: transparent url('../img/mask-bow-black-orange.svg') center top -1px no-repeat;
	background-size: 105% !important;
	padding: 0 0 6.25% 0;
	width: 100%;
}
.bow-black-cyan {
	background: transparent url('../img/mask-bow-black-cyan.svg') center top -1px no-repeat;
	background-size: 105% !important;
	padding: 0 0 6.25% 0;
	width: 100%;
}
.bow-green-black {
	background: transparent url('../img/mask-bow-green-black.svg') center no-repeat;
	background-size: 105% !important;
	padding: 0 0 12.5% 0;
	width: 100%;
}
.triangle-rise-black {
	background: transparent url('../img/mask-triangle-rise-black.svg') center top no-repeat;
	background-size: 105% !important;
	padding: 0 0 6.25% 0;
	width: 100%;
}
.triangle-rise-bluewhite {
	background: transparent url('../img/mask-triangle-rise-bluewhite.svg') center top no-repeat;
	background-size: 105% !important;
	padding: 0 0 6.25% 0;
	width: 100%;
}
.triangles-bluewhite-black {
	background: transparent url('../img/mask-triangles-bluewhite-black.svg') center top no-repeat;
	background-size: 105% !important;
	padding: 0 0 6.25% 0;
	width: 100%;
}


@media screen and (min-width: 40em) {
	.banner {
		padding-bottom:75%;
		.content-wrapper {
			.content {
				bottom: 20%;
			}

			.blurb {
				font-size: 1.15em;
				padding: 12px 0 10px;

			  &:after {
			  	margin-bottom: 20px;
			  }

			  &.light {
				  box-shadow: 12px 0 0 $translucent-light-98, -12px 0 0 $translucent-light-98;
			  }

			  &.dark {
				  box-shadow: 12px 0 0 $translucent-dark-95, -12px 0 0 $translucent-dark-95;
			  }
			}

			.button {
				font-size: 1.15em;
				padding: 12px 30px 10px;
			}
		}
	}

	.home .banner .content-wrapper .blurb {
		line-height: 2.5em;
	}
}

@media screen and (min-width: 64em) {
	.banner {
		padding-bottom:55%;

		.content-wrapper {
			.blurb {
				font-size: 1.25em;
				padding: 15px 0 12px;
			}

			.button {
				font-size: 1.25em;
			}
		}
	}

	.home .banner .content-wrapper .blurb {
		line-height: 2.75em;
	}
}

@media screen and (min-width: 75em) {
	.banner {
		padding-bottom: 50%;

		.content-wrapper {
			.blurb {

				font-size: 1.45em;

				&:after {
			  	margin-bottom: 25px;
			  }

			  &.light {
				  box-shadow: 15px 0 0 $translucent-light-98, -15px 0 0 $translucent-light-98;
			  }

			  &.dark {
				  box-shadow: 15px 0 0 $translucent-dark-95, -15px 0 0 $translucent-dark-95;
			  }
			}

			.button {
				font-size: 1.15em;
				padding: 20px 30px 17px;
			}
		}
	}

	.home .banner .content-wrapper .blurb {
		line-height: 2em;
	}
}

@media screen and (min-width: 90em) {
	.banner {
		padding-bottom:45%;
	}

	.home .banner .content-wrapper .blurb {
		line-height: 2.5em;
	}
}