/* PRIMARY MENU */


/* Prevent flash of unstyle elements */
.no-js {
	#menu-mobile, #menu-main, .menu-icon {
		display: none;
	}
}

.top-nav {
	width: 100%;
	box-shadow: 0 1px 0 $shadow-light;
	position: fixed;
	top:0;
	z-index: 999;

	a:not(.button) {
		font-family: $sans-stack;
		font-weight: 400;
		font-size: 0.8em;
		line-height: 1em;
		letter-spacing: 0.5px;
		color: $translucent-dark-70;
		@extend .caps;

		&:hover, &:focus, .active {
			color: $black;
			font-family: $sans-bold-stack;
			font-weight: 600;
		}
	}

	.current_page_item, .current-menu-item, .current_page_parent, .current-page-ancestor {
		a:not(.button) {
			color: $black;
			font-family: $sans-bold-stack;
			font-weight: 600;
		}
	}

	.button {
		margin: 10px 0;
		@extend .caps;
		@extend .bold;

		&:hover, &:focus, .active {
			color: $black;
			transform: scale(1.02);
			@extend .gradient.RM;
		}
	}

	&.white {
		background: $translucent-light-98;
	}
	&.black {
		background: $translucent-dark-95;

		a:not(.button) {
			color: $translucent-light-70;

			&:hover {
				color: $white;
			}
		}

		.current_page_item, .current-menu-item, .current_page_parent, .current-page-ancestor {
			a:not(.button) {
				color: $cyan;
			}
		}

	}
}

.title-bar {
	padding: 5px 15px;
	
	img {
		max-height: 45px;
	}
}

#menu-main {
	padding: 5px 0;

	a:not(.button) {
		margin: 12px 0;
	}
}

#menu-mobile {
	background: $black;

	a:not(.button) {
		border-top: $shadow-light 1px solid;
		margin: 0;
		padding: 1rem;
		background: $white;

		&:hover {
			background: $translucent-light-98;
			transform-origin: left center;
		}
	}

	.button {
		margin: 15px;
	}

	li:last-child {
		border-bottom: $black 200px solid;
	}
}

.black #menu-mobile {
	background: $white;

	a:not(.button) {
		color: $translucent-dark-50;

		&:hover {
			color: $black;
		}
	}
}

.black #menu-main {
	a.button {
		@extend .gradient.W;
		color: $black;

		&:hover, &:focus {
			@extend .gradient.CGY;
			text-shadow: none;
		}
	}
}


@media (max-width: 116.25rem) {
	#menu-main {
		padding: 5px 30px;
	}
}