.gform_wrapper span.ginput_product_price_label {display: none !important;}
.ginput_container_singleproduct, .ginput_container_total {display: block;margin-left: 15px;}
.gform_wrapper fieldset legend {
	display: none;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul, body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul {
	margin: 0 !important;
	position:relative;
	top: -16px;
	bottom: -16px;
	left: -28px;
}
body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul li, body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul li {
	list-style: none !important;
	overflow: hidden !important;
}

.gform_wrapper {
	margin-top: 0 !important;
}


.gform_wrapper .gfield_html.gfield_no_follows_desc {
	margin-top: 0 !important;
}
.gform_wrapper label.gfield_label {
	font-family: $sans-bold-stack !important;
	font-weight: 600 !important;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	&:hover {
		color: $white !important;
	}
}
.ginput_complex {
	input {
		margin-bottom: 0 !important;	
	}
	label {
		color: $translucent-dark-50;
		letter-spacing: 0 !important;
		text-transform: lowercase;
		font-style: italic;
		font-family: 'georgia','times',serif;
	}
}



#pricing-fields {
	.gfield_label {
		float: left !important;
		width: 200px;
		padding-left: 3px;
	}

	li.gfield {
		padding-right: 0 !important;
		line-height: 30px;
		margin: 0 !important;
		list-style: none !important;
	}

	.ginput_container {
		margin: 0 !important;
		width: 100% !important;
		text-align: right !important;
	}

	.ginput_product_price,
	.ginput_total {
		display: block !important;
		min-width: 120px;
		text-align: right;
		margin: 0 !important;
	}
	

	.gf_coupon_invalid, #gf_coupon_info {
		margin: -18px 0 18px 0 !important;
	}
	ul li:last-child {
		display: none !important;
	}
}

.ginput_container_select select {
	font-size: 0.5rem;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=checkbox] {
	margin: 1px 5px 0 1px !important;
}


.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	font-family: $sans-bold-stack !important;
	font-weight: 600 !important;
	@extend .caps;
	@extend .gradient;

	&:hover {
		@extend .CGY;
		color: $black !important;
	}
}

.gform_wrapper ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
  margin: 0 !important;
  width: 100% !important;
 	background: white;
 	border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 0 0 0 16px !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label, .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
	font-weight: normal !important;
}


.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
	margin: 5px 0 0 5px !important;
}

.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
	margin: 0 !important;
  line-height: 45px !important;
}

.gform_wrapper .top_label li.gfield.no-spacing {
	padding-right: 0 !important;
}

.gform_wrapper .gfield_price {
	padding-right: 0 !important;
	margin: 0 !important;
}

.gform_wrapper .ginput_container.ginput_container_singleproduct {
	width: auto !important;
}

#gform_submit_button_78, #input_78_1 {
	display: block !important;
	margin: 0 auto !important;
}

#gform_78 .gform_footer {
	padding: 0 !important;
}

.close-button {
	padding: 10px 15px;
	border-radius: 50%;
	border: 2px solid $translucent-light-50;
	cursor: pointer;
	background: $black;
	box-shadow: 0 3px 10px $translucent-dark-30; 
	@extend .transition;

	span {
		font-size: 23px;
		color: $translucent-light-50;
		@extend .transition;
	}

	&:hover {
		background: $yellow;

		span {
			color: $black;
			font-weight: bold;
		}
	}
}

/* REGISTRATION FORM */
#gf_coupon_code_76 {
	display: inline !important;
}
.gf_coupon_code {
	max-width:100px !important;
	margin: 0 !important;
}

.gform_wrapper input#gf_coupon_button.button {
	margin-left: 0 !important;
	margin: 0 !important;
}

#gf_coupon_button {
	padding: 12px 10px !important;
}

/* NEWSLETTER FORM */
#gform_wrapper_78 {
	padding-top: 15px !important;

	#gform_78 {
	}

	.gform_body {
		float: left;
		width: 70%;
		margin:0;
	}
	.gform_footer {
		float: right;
		width: 30%;
		margin:0;
		clear: none;

		input {
			line-height: 1;
			width: 100%;
			outline: none;
			overflow: hidden;
			position:relative;
			z-index: 0;
			@extend .gradient;

			&:hover, &:focus {
				@extend .CGY;
				color: $black !important;
			}
		}
	}
	.gfield_label, .validation_error, .validation_message {
		display: none !important;
	}
	ul.gform_fields li.gfield {
		padding: 0 !important;
  	margin: 0 !important;
	}
  .top_label div.ginput_container {
  	margin: 0 !important;
  }
  input {
  	border-radius: 0;
  	height: 44px !important;
  	padding-left: 12px;
		box-shadow: -7px 7px 0 $black;
  }

  input[type="text"] {
  	position:relative;
  	z-index: 2;
  }

  &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  	max-width: 100% !important;
  	width: 100% !important;
  	border: none !important;

  	input {
  		border-color: $red !important;
  	}
  }

  .gform_ajax_spinner {
    margin: 15px auto;
    display: block;
    padding-left: 0 !important;
	}
}
