@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "montserrat" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $translucent-light-50 !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2039" !default;
$slick-next-character: "\203A" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	}
	@else {
		@return url($slick-loader-path + $url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	}
	@else {
		@return url($slick-font-path + $url);
	}
}

/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("loader.gif") center center no-repeat;
	}
}

/* Icons */
@if $slick-font-family == "slick" {
	@font-face {
		font-family: "slick";
		src: slick-font-url("slick.eot");
		src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 45px;
	width: 45px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	transform: translateY(-100%);
	padding: 0;
	border: none;
	outline: none;
	z-index: 90;
	border-radius: 50%;
	border: 2px solid $translucent-dark-50;
	@extend .transition;

	&:hover, &:focus {
		outline: none;
		border-color: $white;
		background: $white;

		&:before {
			opacity: $slick-opacity-on-hover;
			color: $black !important;
		}
	}
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
	&:before {
		@extend .transition;
		font-family: $sans-light-stack;
		font-weight: 200;
		font-size: 45px;
		line-height: 17px;
		color: $translucent-dark-50;
		opacity: $slick-opacity-default;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.slick-prev {
	left: -15px;
	margin-right:5px;
	[dir="rtl"] & {
		left: auto;
		right: 25px;
	}
	&:before {
		content: $slick-prev-character;
		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: -15px;
	margin-left:5px;
	[dir="rtl"] & {
		left: 25px;
		right: auto;
	}
	&:before {
		content: $slick-next-character;
		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */

.slick-dots {
	position: absolute;
	bottom: 30px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			&:hover, &:focus {
				outline: none;
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: $slick-dot-character;
				width: 20px;
				height: 20px;
				font-family: $slick-font-family;
				font-size: $slick-dot-size;
				line-height: 20px;
				text-align: center;
				color: $slick-dot-color;
				opacity: $slick-opacity-not-active;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		&.slick-active button:before {
			color: $slick-dot-color-active;
			opacity: $slick-opacity-default;
		}
	}
}

@media screen and (min-width: 40em) {

}
@media screen and (min-width: 64em) {
	.slick-prev,
	.slick-next {
		top: auto;
		bottom: 0;
		transform: translateY(50%);
		border-color: $translucent-light-50;

		&:before {
			color: $translucent-light-50;
		}
	}
	.slick-prev {right: 50%; left:auto;}
	.slick-next {left: 50%; right:auto;}

	.home .slick-next, 
	.home .slick-prev {
		border-color: $translucent-dark-30;

		&:before {
			color: $translucent-dark-30;
		}

		&:hover, &:focus {
			border-color: $black;
			background: transparent;
		}
	}
}
@media screen and (min-width: 75em) {
	.slick-prev,
	.slick-next {
		bottom: 5.2%;
		transform: translateY(-15%);
		background: transparent;
	}
	.slick-prev { left: 30px;}
	.slick-next { left: 80px;}
}
@media screen and (min-width: 90em) {	
	.slick-prev,
	.slick-next {
		bottom: 5.2%;
		transform: translateY(-30%);
	}
	.slick-prev { left: 60px;}
	.slick-next { left: 110px;}
}
@media screen and (min-width: 116.25em) {	
	.slick-prev,
	.slick-next {
		bottom: 5.2%;
		transform: translateY(-50%);
	}
	.slick-prev { left: 60px;}
	.slick-next { left: 110px;}
}