/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6 {
	font-family: $sans-bold-stack;
	font-weight: 600;
	margin-top: 0;

	&.thin {
		font-family: $sans-light-stack;
		font-weight: 200;
	}

	.subheader {
		font-family: $sans-stack;
		font-weight: 400;
	}

	small {
		font-size: 0.6em;
	}
}

.subheader {
	color: $translucent-dark-50;
	font-size: 1rem;
}


a {
	text-decoration: none;
	@extend .transition-slow;
}

a:hover {
	@extend .transition;
}

a.text-link, #spotlight a:not(.button), .blog-post a, article a:not(.button) {
	color: $magenta;
	padding: 3px 2px;
	border-bottom: 1px dotted $magenta;
	text-decoration: none !important;

	span {
		text-decoration: none !important;
	}

	&:hover {
		background: $magenta !important;
		color: $white !important;
		box-shadow: 2px 0 0 $magenta, -2px 0 0 $magenta;
		border-radius: 3px;
		border-bottom-color: transparent;
	}
}

a.no-border {
	border: none !important;
	display: inline-block; 
}

a.address-link {
	color: $translucent-dark-60;
	&:hover {
		color: $black;
		border-bottom: 1px dotted $black !important;
	}
}

.text-center {text-align:center;}
.text-right {text-align:right;}
.text-left {text-align:left;}

.caps {text-transform:uppercase;}
.uncaps {text-transform:lowercase;}

strong, .bold {
	font-family: $sans-bold-stack !important;
	font-weight: 600;
}

small, .small {
	font-size: 0.8em;
}

h1.entry-title {
	text-transform: uppercase;
	font-family: $sans-light-stack;
	font-weight: 200;
	text-align: center;

	&:after {
		display: block;
		content: '\2022\2022\2022\2022\2022';
		font-size: 0.8em;
	}
}